/*teste*/
body{
	font-family: "Roboto", "Open sans", Helvetica, Arial, sans-serif; 
}
.titulo-cinza{
	color: #707070;
	text-transform: uppercase;
	margin-top: 5%;
}
.purple-title{
	color: #402e80;
	text-transform: uppercase;
}
.purple-bg{
	background: #402e80;
	padding: 2% 0;
}
.purple-bg h4{
	text-transform: uppercase;
}
.purple-btn{
	background: #402e80;
	border-radius: 50px;
}
.purple-btn:hover{
	background: #f2913d;
}
.bg-branco{
	background: #fff !important;
}
.to-top{
	top:0;
}
.center-text{
	text-align: center;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.dropdown i{
	margin: 0 !important;
}
.alinha-pontas-horizontal{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.alinha-centro-vertical{
	display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
}
.alinha-centro-horizontal{
	display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
}
.alinha-base-vertical{
	display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.alinha-self-topo{
	-ms-flex-item-align: start;
        align-self: flex-start;
}
.separa-cantos{
	-webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.alinha-centro{
	display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.zera-margem{
	margin: 0 !important;
}
.zera-padding{
	padding: 0 !important;
}
/* ======== Menu ======== */
.bk-menu{
	background: #fff;
	height: 100px;
    line-height: 100px;
    
    -webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out; 
}
nav .sidenav-trigger{
	height: 100px;
    line-height: 100px;
    -webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out; 
}
.bk-menu-menor{
	height: 64px !important;
    line-height: 64px !important;
}
.bk-menu ul a{
	color: #e60025;
	font-weight: 600;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.bk-menu ul a:hover{
	background: none;
	color: #f2913d; 
}
.menu-item a{
	color: #686969;
	-webkit-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out; 
}
.search{
	height: 100px;
}
.searchbar{
	display: none;
	margin-bottom: 0;
	background: #e60025;
}
.logo{
	height: 100px;
	-webkit-transition: height 0.3s ease-in-out;
	-o-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;
}
#logo-container{
    width: 10%;
}
.bk-menu-menor .logo{
	height: 64px;
}
.flex-banner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.sidenav-trigger{
	color: #e72f73;
}
.accessibility-bar a{
	margin: 0 3%;
	color: #f2913d;
}
.accessibility-bar span{
	margin-right: 3%;
	color: #e60025;
}
.accessibility-bar{
	width: 20%;
}
.top-menu{
	background: #fff;
}
.top-menu ul a{
	color: #ffbaab;
	font-weight: 600;
	background: none;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.top-menu ul a:hover{
	color: #e60025;
	background: none;
}
.sub-menu{
	display: none;
	position: fixed;
	top: 160px;
	z-index: 1000;
	background: #fff;
	width: 10%;
	box-shadow: 6px 7px 15px rgba(0, 0, 0, 0.4);
}
.sub-menu li{
	float: none;
	height: 50px;
}
.sub-menu li a{
	line-height: 50px;
}
.nav-mobile .sub-menu{
	display: none;
	position: absolute;
	top: 0px;
	z-index: 1000;
	background: #fff;
	width: 100%;
	box-shadow: 6px 7px 15px rgba(0, 0, 0, 0);
}
.navbar-fixed .sub-menu, .top-menu .sub-menu{
	top: 80px;
}
@media (max-width: 768px){
	#logo-container {
	    width: 30%;
	}
	.sub-menu{
		display: none;
		top: 100px;
		z-index: 1000;
		background: #fff;
		width: 100%;
		box-shadow: 6px 7px 15px rgba(0, 0, 0, 0);
	}
}
/* ======== Menu ======== */

/* ======== Footer ======== */
.page-footer{
	background-color: #f4f5f8 !important;
	margin: 0; 
}
.map-site h5 a, .submenu-footer a{
	color: #353b86;
}
.page-footer h6{
	margin: 5% 0;
}
.social{
	border-top: 2px solid #f2913d;
	padding: 1% 0 0 0;
	margin-top: 3%; 
}
.social-itens{
	width: 100%;
}
.social-itens li{
	margin: 0 2%;
}
.social-itens li a{
	color: #f2913d;
	font-size: 3.4rem;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.social-itens li a:hover{
	color: #402e80;
}
.footer-copyright{
	color: #f2913d !important;
}
/* ======== Footer ======== */

/* ======== Header Pages ======== */
.header-pages{
	box-shadow: inset 500px 500px rgba(166, 188, 0, 0.8);
	height: 394px;
	background-size: cover;
	margin: 0 0 3% 0;
}
.breadcrumb-header{
	background: none;
	box-shadow: none;
}
.header-pages h1{
	font-weight: 800;
}
.header-pages h4{
	color: #fff;
}
.header-pages i{
	color: #402e80;
}
/* ======== Header Pages ======== */

/* ======== Banner Home ======== */

.banner-home, .banner{
	width: 100%;
	height: 633px !important;
	background-size: cover;
	overflow-x: hidden;
}

.banner-home .box-banner{
	padding: 5%;
	text-align: left;
	width: 45%;
}

.box-banner h2{
	margin: 0;
}

.box-banner p{
	font-size: 1.1rem
}

.pink-btn{
	color: #fff;
    background-color: #ff356f;
    border-color: #ff356f;
    border-radius: 300px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.pink-btn:hover, .pink-btn:focus, .pink-btn:active{
	background-color: #f2913d;
    border-color: #f2913d;
}

@media (max-width:768px){
	.banner-home, .banner{
		height: 350px !important;
	}
	.banner-home .box-banner{
		width: 100%;
	}
}

/* ======== Banner Home ======== */

/* ======== Sobre Home ======== */
.sobre{
	padding: 5% 0;
}
.sobre h2{
	color: #402e80;
	font-weight: 900;
	text-transform: uppercase;
}
.sobre h1{
	color: #f2913d;
	font-weight: 900;
	text-transform: uppercase;
}
.sobre h4{
	color: #707070;
	font-weight: 600;
}
.sobre p{
	color: #707070;
}

/* ======== Sobre Home ======== */

/* ======== Serviçoes a comunidade Home ======== */

.servicos{
	background: #5fcaed;
	padding: 3% 0;
	margin: 0 !important;
}
.servicos h3{
	margin-bottom: 3%;
	text-transform: uppercase;
	color: #fff;
}
.servico-img{
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 300px;
	-webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.servico-img img{
	-webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transform: scale(1,1);
        -ms-transform: scale(1,1);
            transform: scale(1,1);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.servico-img img:hover{
	-webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    -webkit-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
            transform: scale(1.2,1.2);
}
.servico-item a{
	color: #fff !important;
	text-align: center;
}
/* ======== Serviçoes a comunidade Home ======== */

/* ======== Acessos rápidos Home ======== */

.acessos-rapidos{
	background: #dedede;
	padding: 3% 0;
	margin: 0 !important;
}

.acesso-item{
	width: 95%;
}

.acesso-header{
	color: #707070;
	margin-bottom: 2%;
}

.acesso-body{
	background: #fff;
	padding: 5%;
	border-top: 6px solid #f2913d;
}
.acesso-body h6{
	color: #402e80;
}
.acesso-body p{
	color: #707070;
}
/* ======== Acessos rápidos Home ======== */

/* ======== Unidades Home ======== */

.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	max-height: 360px;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.effect-oscar {
	background: rgb(166, 188, 0);
}

figure.effect-oscar img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-oscar figcaption {
	padding: 3em;
	background-color: rgba(64,46,128,0.7);
	-webkit-transition: background-color 0.35s;
	transition: background-color 0.35s;
}

figure.effect-oscar figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-oscar:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.effect-oscar:hover img {
	opacity: 0.4;
}
.unidade-item figure{
	border-top: 5px solid #f2913d;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.unidade-item figure:hover{
	border-top: 5px solid #402e80;
}

.unidade-item figure h2{
	font-size: 1.56rem;
}

.txt-unidade{
	color: #5fcaed;
	font-size: 1.1rem;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.unidade-item figure:hover .txt-unidade{
	color: #402e80;
}
/* ======== Unidades Home ======== */

/* ======== Páginas internas ======== */
.page-info{
	background: #f8f8f8;
	border-top: 5px solid #f2913d;
	margin: 5% 0;
	padding-bottom: 5% !important;
}
.page-info i{
	color: #5fcaed;
	font-size: 6rem;
	margin: 3% 0;
}
.page-info h5{
	font-weight: 700;
	text-align: center;
}
.page-info p, .page-info h6{
	color: #707070;
	text-align: center;
}
.pink-accordeon{
	background: #5fcaed !important;
}
.pink-accordeon span, .pink-accordeon i{
	color: #fff !important;
}
.collapsible-header i{
	color: #402e80;
}
.mapa iframe{
	width: 100% !important;
}
/* ======== Páginas internas ======== */

/* ======== Páginas internas colação ======== */
.item-tipo-col{
	color: #fff;
	background: #402e80;
	border-top:5px solid #5fcaed;
	height: 150px;
	margin: 3% 0;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.item-tipo-col:hover{
	background: #5fcaed;
	border-top:5px solid #402e80;
}
/* ======== Páginas internas colação ======== */